<div class="d-flex">
  <div class="list-group w-200px bg-white br-light">
    <% @chatrooms.each do |chatroom| %>
      <%= link_to "##{chatroom.name}", chatroom_path(chatroom), class: "list-group-item #{'active' if chatroom == @chatroom}" %>
    <% end %>
  </div>
  <!-- 1. Connected the controller. 2. I embeded the id in the HTML so the JS can access it. -->
  <div class="chatroom" data-controller='chatroom-subscription' data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">
    <h1>#<%= @chatroom.name %></h1>
    <div>
      <!-- 1. Added a target on the messages div so i can insert messages here -->
      <div id="messages" data-chatroom-id="<%= @chatroom.id %>" data-chatroom-subscription-target='messages'>
        <% if @chatroom.messages.any? %>
          <% @chatroom.messages.each do |message| %>
            <%= render 'messages/message', message: message %>
          <% end %>
        <% else %>
          <div class="message-container">
            <p>No message yet. Be the first!</p>
          </div>
        <% end %>
      </div>
      <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
        <%= f.input :content, label: false, placeholder: "Message ##{@chatroom.name}" %>
      <% end %>
    </div>
  </div>
</div>
